@font-face {
  font-family: "PPPlayground";
  src: url("/public/public/PPPlayground-Thin.otf") format("opentype");
  /* font-weight: 300; */
}
@font-face {
  font-family: "F-37Judge-BoldCondensed";
  src: url("/public/F37Judge-Medium.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "ABCMonumentGrotesk";
  src: url("/public/MonumentGrotesk-Regular.ttf") format("truetype");
}
.about__section {
  width: 100vw;
  height: 100vh;
  background-color: #e7d5e4;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.about__main_section {
  height: 100vh;
  margin: 2rem 0;
}
.about__headline {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.about__headline_first {
  display: flex;
}
.about__main_section h1 {
  line-height: 85%;
  color: #8b3d6b;
}
.about__italics {
  font-family: PPPlayground;
  font-weight: 100;
  font-size: 7rem;
}
.about__header {
  font-family: F-37Judge-BoldCondensed;
  font-size: 7rem;
  letter-spacing: 2%;
}
.about__headline_second {
  align-self: center;
  display: flex;
  padding-left: 5rem;
}
.about__headline_third {
  align-self: end;
  margin-top: 1.5rem;
}
.about__personal {

  width: 100%;
  height: 50%;
  display: flex;
  gap: 5rem;
}
.about__image_container{
    width: 30%;
}
.about__personal_info{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: end;
}
.image__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}
.image__wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.color__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 61, 107, 0.5); 
  pointer-events: none;
  z-index: 1;
}
.about__personal_text p {
    font-family: ABCMonumentGrotesk;
    font-size: 1.5rem;
    line-height: 120%;
    color: #8B3D6B;
    letter-spacing: -1%;
    font-weight: 600;
}
.about__second_section{
    display: flex;
    justify-content: space-between;
    

}
.about{
    /* padding: 1rem; */
    width: 416px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #B27E9C;
    
}
.about h6{
    color: #8B3D6B;
}
.about h6,p {
    font-family: ABCMonumentGrotesk;
    font-size:  1rem;
}
.about p{
    line-height: 100%;
}
.about_collection{
    display: flex;
    align-items: end;
}
.about_collection a{
font-family: ABCMonumentGrotesk;
    font-size:  1rem;
    color: #8B3D6B;
}