@font-face {
  font-family: "PPPlayground";
  src: url("/public/public/PPPlayground-Thin.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "ABCMonumentGrotesk";
  src: url("/public/MonumentGrotesk-Regular.ttf") format("truetype");
}
.collections__section {
  width: 100vw;
  height: 100vh;
  background-color: #e7d5e4;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}
.collection__main {
  margin-top: 10rem;
  width: 100%;
  height: 90%;
}
fieldset {
  display: flex;
  align-items: center;
  border: none;
  gap: 1rem;
  align-items: center;
  margin-left: 7rem;
}
fieldset input {
  margin-right: 0.5rem;
  background-color: #8b3d6b;
}
input[type="radio"] {
  display: none;
}

.collection__selector_mode {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-family: ABCMonumentGrotesk;
  color: #8b3d6b;
  text-transform: uppercase;
}

label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #8b3d6b;
  border-radius: 50%;
  background-color: transparent;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 23%;
  width: 12px;
  height: 12px;
  background-color: #8b3d6b;
  border-radius: 50%;
}
fieldset label {
  font-family: ABCMonumentGrotesk;
  text-transform: uppercase;
  color: #8b3d6b;
}
.color__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 61, 107, 0.2);
  pointer-events: none;
  z-index: 1;
}
