@font-face {
  font-family: 'ABCMonumentGrotesk';
  src: url('/MonumentGrotesk-Regular.ttf') format('truetype');
}

.nav__section {
  width: 99vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  font-family: 'ABCMonumentGrotesk';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav__section a {
  text-decoration: none;
  color: #8b3d6b;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-family: 'ABCMonumentGrotesk';
}

.spacer__nav {
  width: auto; 
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  position: relative;
  padding-left: 1.5rem;
}

.nav_icon {
  font-size: 1.5rem;
  color: #8b3d6b;
  transition: all 0.3s ease;
  display: inline-block; 
}

.nav_icon_wrapper {
  display: inline-block;
  opacity: 1;
  /* transform: translateY(-30px); */
  will-change: transform, opacity;
}


.nav__wrapper {
  position: relative;
}


.nav {
  position: relative;
  opacity: 1;
  white-space: nowrap;
   display: inline-block;
  will-change: opacity, transform;
  transition: all 0.3s ease;
  padding-left: 1.5rem; 
  font-family: 'ABCMonumentGrotesk';
}

.nav--active {
  color: #8b3d6b;
  position: relative;
}

.nav--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #8b3d6b;
  border-radius: 50%;
  background-color: transparent;
}

.nav--active::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 35%;
  width: 12px;
  height: 12px;
  background-color: #8b3d6b;
  border-radius: 50%;
}


