.slider__thumbnails {
  width: 80px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
 
}

.slider__thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(80%);
  filter: brightness(50%);


}


.slider__thumbnails-container {
  position: absolute;
  top: 40%;
  right: 100px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: fit-content;
  overflow: hidden;
}

.slider__thumbnails.active  img{
 filter: grayscale(0%) ;
}
.slider{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.gallery__canvas_wrapper{
  width: 100%;
  height: 100%;
}
.gallery__canvas_wrapper canvas{
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}